/*
$breakpoint argument choice:

-phone
-tabl-port
-tab-land
-big-desktop
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 84.3em) {
    html {
      font-size: 59.37%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 65.62em) {
    html {
      font-size: 53.12%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 46.87em) {
    html {
      font-size: 46.87%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-color: #ebe3dc;
  font-family: 'Poppins', sans-serif;
  color: black;
  position: relative;
  background-color: #fff; }

::selection {
  background-color: #ebe3dc; }

.bold {
  font-weight: 600; }

.orange {
  background-color: #febea8;
  border: 3px solid #febea8; }

.yellow {
  background-color: #fae0b9;
  border: 3px solid #fae0b9; }

.dark-orange {
  background-color: #f0884e; }

.green {
  background-color: darkcyan; }

.white {
  background-color: #fff; }

.primary-border {
  border: 2px solid rgba(255, 137, 34, 0.4); }

.primary-light {
  background-color: rgba(235, 227, 220, 0.5); }

.black {
  background-color: #000;
  color: #fff; }

.heading-3 {
  font-weight: 700;
  font-size: 2.5rem;
  color: black !important; }
  @media only screen and (max-width: 37.5em) {
    .heading-3 {
      font-size: 2.5rem; } }

.sub-head {
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: -0.5rem; }

.head-title {
  font-size: 2rem;
  color: black; }
  @media only screen and (max-width: 37.5em) {
    .head-title {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .head-title {
      font-size: 2.5rem; } }

.wrapper__nav--small {
  grid-row: 1 /-1;
  z-index: 999; }
  @media only screen and (max-width: 31.25em) {
    .wrapper__nav--small {
      position: fixed; } }

.wrapper__nav--big {
  position: sticky;
  transition: all 0.5s;
  grid-column: 2 / 3; }
  @media only screen and (max-width: 56.25em) {
    .wrapper__nav--big {
      z-index: 1000;
      display: none;
      grid-row: 1 / -1; } }
  @media only screen and (max-width: 37.5em) {
    .wrapper__nav--big {
      grid-row: 1 /-1;
      grid-column: 2 / 3; } }

.small-nav {
  background-color: red;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 5%;
  flex-direction: column;
  transition: all 0.5s; }
  @media only screen and (max-width: 56.25em) {
    .small-nav {
      width: 8%; } }
  @media only screen and (max-width: 37.5em) {
    .small-nav {
      grid-row: 1 /-1;
      grid-column: 1 / 2; } }
  @media only screen and (max-width: 31.25em) {
    .small-nav {
      width: 12%;
      left: -8rem; } }

#small-nav__checkbox:checked + .small-nav {
  left: 0; }

#small-nav__checkbox {
  display: none; }

.nav__button {
  display: none;
  z-index: 999; }
  @media only screen and (max-width: 31.25em) {
    .nav__button {
      display: block;
      position: fixed;
      top: 1rem;
      right: 3rem;
      height: 4.5rem;
      width: 4.5rem;
      background-color: whitesmoke;
      padding: 0.5rem;
      border-radius: 50%; } }

.big-nav {
  background-color: #ebe3dc;
  position: fixed;
  height: 100vh;
  width: 20%; }
  @media only screen and (max-width: 56.25em) {
    .big-nav {
      width: 22%; } }
  @media only screen and (max-width: 56.25em) {
    .big-nav {
      width: 25%; } }
  @media only screen and (max-width: 46.87em) {
    .big-nav {
      width: 28%; } }
  @media only screen and (max-width: 31.25em) {
    .big-nav {
      width: 50%;
      left: 6.4rem; } }
  @media only screen and (max-width: 25em) {
    .big-nav {
      left: 4.7rem; } }
  .big-nav__content {
    padding: 2.5rem; }
    @media only screen and (max-width: 65.62em) {
      .big-nav__content {
        padding: 2.5rem 2rem; } }
  .big-nav__head {
    padding: 2rem auto;
    height: 8rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.25);
    padding-top: 2rem;
    padding-left: 3rem; }
    @media only screen and (max-width: 65.62em) {
      .big-nav__head {
        padding-top: 1.5rem;
        padding-left: 1.5rem; } }
    @media only screen and (max-width: 75em) {
      .big-nav__head {
        padding-top: 1rem;
        padding-left: 0.5rem; } }
  .big-nav__section-container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .big-nav__section {
    font-size: 1.5rem;
    color: #443d37;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    align-self: flex-start;
    width: 100%; }
  .big-nav__sub-section__container {
    width: 90%; }
  .big-nav__sub-section {
    margin: 1rem auto;
    font-size: 1.4rem; }

#big-nav__checkbox {
  display: none; }

@media only screen and (max-width: 56.25em) {
  #big-nav__checkbox:checked + .wrapper__nav--big {
    display: block; } }

.main-1 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  padding: 1.5rem 3rem; }
  @media only screen and (max-width: 56.25em) {
    .main-1 {
      grid-column: 2 / 4; } }
  @media only screen and (max-width: 37.5em) {
    .main-1 {
      grid-column: 2 / -1;
      grid-row: 2 /3; } }
  @media only screen and (max-width: 31.25em) {
    .main-1 {
      grid-column: 1 / -1;
      margin-top: 4.5rem; } }

.main {
  background-color: #fff;
  padding: 1.5rem 3rem;
  position: relative;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  margin-top: -3rem; }
  @media only screen and (max-width: 56.25em) {
    .main {
      grid-column: 2 /4;
      margin-top: -5rem; } }
  @media only screen and (max-width: 37.5em) {
    .main {
      grid-column: 2 / -1;
      grid-row: 3 / 4;
      margin-top: 2rem; } }
  @media only screen and (max-width: 31.25em) {
    .main {
      grid-row: 3 / 4;
      grid-column: 1 / -1;
      margin-top: 5rem; } }

.search__container {
  border: 2px solid #ebe3dc;
  padding: 0.8rem;
  padding-left: 1.5rem;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  margin-top: 1rem; }

input {
  border: none;
  outline: none;
  padding-top: 0.3rem;
  width: 100%; }
  input::placeholder {
    color: rgba(128, 128, 128, 0.5);
    font-size: 1.4rem; }

.recent__head {
  display: flex;
  justify-content: space-between; }
  .recent__head-viewall {
    color: #ff8922;
    font-size: 1.4rem;
    align-self: center; }
    @media only screen and (max-width: 37.5em) {
      .recent__head-viewall {
        font-size: 1.8rem; } }

.recent__card__container {
  margin-top: 1.5rem; }

.recent__card {
  padding: 2rem;
  border-radius: 2rem;
  display: flex;
  grid-template-rows: 30% 50% 20%;
  flex-direction: column;
  height: 35rem;
  justify-content: space-between; }
  @media only screen and (max-width: 31.25em) {
    .recent__card {
      height: 40rem; } }
  .recent__card-top {
    display: flex;
    flex-direction: column; }
    .recent__card-top--1 {
      display: flex;
      justify-content: space-between; }
    .recent__card-top--2 {
      margin-top: 3rem; }
  .recent__card-end {
    justify-content: end; }

.recent__image__container {
  display: flex; }

.recent__image {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  object-fit: cover; }
  @media only screen and (max-width: 37.5em) {
    .recent__image {
      height: 5.5rem;
      width: 5.5rem; } }
  .recent__image--1 {
    z-index: 30;
    padding: 0.9rem;
    font-size: 1.5rem; }
    @media only screen and (max-width: 37.5em) {
      .recent__image--1 {
        padding: 1.3rem; } }
  .recent__image--1.yellow {
    border: 2px solid black;
    font-weight: 500; }
  .recent__image--2 {
    z-index: 20;
    margin-left: -1.5rem; }
  .recent__image--3 {
    z-index: 10;
    margin-left: -1.5rem; }

.recent__name {
  font-size: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .recent__name {
      font-size: 3rem; } }
  @media only screen and (max-width: 31.25em) {
    .recent__name {
      font-size: 3.5rem; } }

.recent__deadline {
  margin-top: 1.5rem;
  font-weight: 550; }
  @media only screen and (max-width: 37.5em) {
    .recent__deadline {
      font-size: 1.5rem; } }
  @media only screen and (max-width: 31.25em) {
    .recent__deadline {
      font-size: 2rem; } }

.recent__progress--text {
  font-weight: 500; }
  @media only screen and (max-width: 37.5em) {
    .recent__progress--text {
      font-size: 1.2rem; } }
  @media only screen and (max-width: 31.25em) {
    .recent__progress--text {
      font-size: 1.5rem; } }

.recent__progress--width {
  width: 100%;
  height: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5rem;
  margin-top: 1rem;
  position: relative; }
  .recent__progress--width::after {
    content: "";
    position: absolute;
    background-color: #000;
    height: 0.5rem;
    width: 40%;
    border-radius: 5rem; }

.reminder__container {
  margin-top: 2rem; }
  @media only screen and (max-width: 31.25em) {
    .reminder__container {
      margin-bottom: 2rem; } }

.reminder__content {
  padding: 2rem;
  padding-bottom: 1rem;
  border: 2px solid #ebe3dc;
  border-radius: 2rem;
  margin-top: 1rem; }

.reminder__card {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 2fr 1fr;
  row-gap: 1rem; }
  @media only screen and (max-width: 75em) {
    .reminder__card {
      grid-template-columns: 2.5fr 1fr; } }
  @media only screen and (max-width: 75em) {
    .reminder__card {
      grid-template-columns: 1.8fr 1fr; } }
  @media only screen and (max-width: 65.62em) {
    .reminder__card {
      grid-template-columns: 1.4fr 1fr; } }
  @media only screen and (max-width: 37.5em) {
    .reminder__card {
      grid-template-columns: 2fr 1fr; } }
  @media only screen and (max-width: 31.25em) {
    .reminder__card {
      grid-template-rows: 2.5fr 0.8fr 0.3fr; } }

@media only screen and (max-width: 31.25em) {
  .reminder__main {
    grid-column: 1 / -1; } }

@media only screen and (max-width: 37.5em) {
  .reminder__date {
    font-size: 1.5rem; } }

.reminder__title {
  font-size: 2.5rem; }
  @media only screen and (max-width: 37.5em) {
    .reminder__title {
      margin-top: 1rem; } }

.reminder__button__container {
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 31.25em) {
    .reminder__button__container {
      grid-column: 1 / -1; } }

.reminder__button {
  padding: 1rem 1.5rem;
  border: 2px dashed #febea8;
  background-color: transparent;
  border-radius: 3rem; }

.reminder__dots {
  display: flex;
  gap: 1rem;
  grid-column: 1 / -1;
  align-self: center;
  justify-content: center; }

.reminder__dot {
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%; }
  .reminder__dot--1 {
    background-color: #febea8; }
  .reminder__dot--2 {
    background-color: #ebe3dc; }
  .reminder__dot--3 {
    background-color: rgba(235, 227, 220, 0.9); }

.profile-1 {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  padding: 1rem 3rem; }
  .profile-1 .bell__icon-container {
    grid-row: 1 /-1;
    grid-column: 1 /2;
    position: relative; }
    @media only screen and (max-width: 75em) {
      .profile-1 .bell__icon-container {
        grid-column: 4 / -1; } }
  @media only screen and (max-width: 37.5em) {
    .profile-1 {
      grid-row: 1 / 2;
      grid-column: 2 / -1; } }
  @media only screen and (max-width: 31.25em) {
    .profile-1 {
      grid-column: 1 / -1; } }

.profile {
  background-color: #fff;
  padding: 3rem 3rem 0rem 2rem;
  grid-column: 4 / 5;
  grid-row: 2 / 3; }
  @media only screen and (max-width: 37.5em) {
    .profile {
      grid-column: 2 / -1;
      grid-row: 4 / -1;
      border-left: none;
      padding: 0 4rem;
      box-shadow: none; } }
  @media only screen and (max-width: 31.25em) {
    .profile {
      grid-row: 4 / -1;
      grid-column: 1 / -1;
      padding: 0 3rem; } }
  @media only screen and (max-width: 25em) {
    .profile {
      padding: 0 2.5rem; } }
  .profile__dots {
    display: flex;
    gap: 0.6rem;
    justify-content: end; }
  .profile__dot {
    background-color: rgba(255, 137, 34, 0.5);
    height: 0.6rem;
    width: 0.6rem;
    border-radius: 70px; }
  .profile-top {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    padding-right: 3rem; }
    @media only screen and (max-width: 75em) {
      .profile-top {
        flex-direction: column-reverse;
        padding-right: 0;
        gap: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .profile-top {
        display: flex;
        flex-direction: row-reverse; } }
    @media only screen and (max-width: 31.25em) {
      .profile-top {
        padding-right: 0;
        gap: 5rem; } }
    @media only screen and (max-width: 31.25em) {
      .profile-top {
        flex-direction: column-reverse;
        gap: 1rem; } }
  .profile__add-button {
    padding: 1.2rem 2rem;
    background-color: #ec7e5d;
    color: #fff;
    border-radius: 6rem;
    border: none;
    align-self: center;
    font-size: 1.5rem; }
    @media only screen and (max-width: 75em) {
      .profile__add-button {
        width: 100%; } }
    @media only screen and (max-width: 37.5em) {
      .profile__add-button {
        width: 35%;
        font-size: 2.5rem;
        font-weight: 700; } }
    @media only screen and (max-width: 31.25em) {
      .profile__add-button {
        width: 100%; } }
  .profile__main {
    display: grid;
    grid-template-columns: 25% 25% 35% 15%;
    grid-template-rows: 50% 50%;
    column-gap: 1rem;
    align-items: center; }
    @media only screen and (max-width: 75em) {
      .profile__main {
        grid-template-columns: 15% 20% 50% 15%; } }
    @media only screen and (max-width: 37.5em) {
      .profile__main {
        grid-template-columns: 30% 35% 18% 15%; } }
    @media only screen and (max-width: 31.25em) {
      .profile__main {
        grid-template-columns: 0.2fr 0.3fr 1fr; } }
    @media only screen and (max-width: 25em) {
      .profile__main {
        grid-template-columns: 0.2fr 0.3fr 1fr; } }
  .profile__photo {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    grid-column: 2 / 3;
    grid-row: 1/ -1;
    object-fit: cover; }
    @media only screen and (max-width: 75em) {
      .profile__photo {
        grid-column: 1 / 2; } }
    @media only screen and (max-width: 37.5em) {
      .profile__photo {
        height: 6rem;
        width: 6rem; } }
  .profile__user {
    color: #b5a79e;
    grid-row: 1 / 2;
    grid-column: 3 /4;
    font-size: 1.2rem; }
    @media only screen and (max-width: 75em) {
      .profile__user {
        grid-column: 2 / 3; } }
    @media only screen and (max-width: 37.5em) {
      .profile__user {
        font-size: 2rem; } }
    @media only screen and (max-width: 31.25em) {
      .profile__user {
        font-size: 1.7rem; } }
    .profile__user-name {
      color: #000;
      grid-row: 2 / -1;
      grid-column: 3 /4;
      font-weight: 700;
      font-size: 1.7rem; }
      @media only screen and (max-width: 75em) {
        .profile__user-name {
          grid-column: 2 / 3; } }
      @media only screen and (max-width: 37.5em) {
        .profile__user-name {
          font-size: 2.5rem; } }
      @media only screen and (max-width: 31.25em) {
        .profile__user-name {
          font-size: 2rem; } }
  .profile__aero {
    height: 2.5rem;
    width: 2.5rem;
    background-color: rgba(181, 167, 158, 0.2);
    color: #d24e26;
    border: 1px solid #ebe3dc;
    grid-row: 1 /-1;
    border-radius: 50%;
    padding: 0.5rem; }
    @media only screen and (max-width: 75em) {
      .profile__aero {
        grid-column: 3 / 4; } }
    @media only screen and (max-width: 37.5em) {
      .profile__aero {
        height: 3.5rem;
        width: 3.5rem; } }

.noti-dot {
  position: absolute;
  background-color: #d24e26;
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  top: 0.5rem;
  left: 1.8rem; }
  @media only screen and (max-width: 75em) {
    .noti-dot {
      left: -1.2rem; } }
  @media only screen and (max-width: 37.5em) {
    .noti-dot {
      height: 0.8rem;
      width: 0.8rem;
      left: 2.5rem; } }

@media only screen and (max-width: 31.25em) {
  .members {
    margin-bottom: 2rem; } }

.members__head {
  margin-top: 0; }

.members__container {
  display: grid;
  row-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
  align-items: center;
  margin-top: 1.5rem;
  justify-items: center; }
  @media only screen and (max-width: 25em) {
    .members__container {
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 2rem; } }

.members__image {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  object-fit: cover;
  display: inline-block; }
  @media only screen and (max-width: 75em) {
    .members__image {
      height: 4rem;
      width: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .members__image {
      height: 7rem;
      width: 7rem; } }

.members__no-image {
  background-color: rgba(250, 224, 185, 0.4);
  padding: 1rem 1rem 1rem 1.5rem;
  border: none;
  font-size: 2rem;
  color: #ec7e5d; }
  @media only screen and (max-width: 75em) {
    .members__no-image {
      padding: 0.4rem 1rem 1rem 0.8rem; } }
  @media only screen and (max-width: 37.5em) {
    .members__no-image {
      padding: 1rem 0rem 1rem 1.5rem;
      font-size: 3.2rem; } }

.members__add {
  height: 3.2rem;
  width: 3.2rem;
  background-color: rgba(235, 227, 220, 0.4);
  border-radius: 50%;
  color: #ec7e5d;
  padding: 0.7rem;
  border: 2px dashed #ec7e5d; }
  @media only screen and (max-width: 37.5em) {
    .members__add {
      height: 4.5rem;
      width: 4.5rem; } }

.projects__details__card {
  width: 100%;
  box-shadow: 0px 0px 5px 2px whitesmoke;
  margin-top: 4rem;
  border-radius: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  padding: 1.5rem 2rem;
  column-gap: 2rem;
  row-gap: 2rem;
  justify-items: center; }
  @media only screen and (max-width: 75em) {
    .projects__details__card {
      display: block;
      padding: 2rem 3rem;
      margin-top: 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .projects__details__card {
      display: grid;
      padding: 2rem; } }
  @media only screen and (max-width: 31.25em) {
    .projects__details__card {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 2rem; } }
  @media only screen and (max-width: 25em) {
    .projects__details__card {
      display: block; } }

.project__details {
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 75em) {
    .project__details {
      margin-top: 1rem; } }
  .project__details-title {
    font-size: 1.2rem; }
    @media only screen and (max-width: 75em) {
      .project__details-title {
        font-size: 1.7rem; } }
  .project__details-count {
    font-weight: 700; }

.tasks__head {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 37.5em) {
    .tasks__head {
      margin-top: 5rem; } }

.tasks__edit {
  color: #ff8922;
  font-size: 1.4rem; }
  @media only screen and (max-width: 37.5em) {
    .tasks__edit {
      font-size: 2rem; } }

.tasks__card__container {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 2rem;
  row-gap: 2rem;
  margin-top: 1rem; }
  .tasks__card__container::-webkit-scrollbar {
    width: 0; }
  @media only screen and (max-width: 75em) {
    .tasks__card__container {
      grid-template-columns: 1fr;
      margin-top: 2rem;
      overflow: scroll;
      height: 40vh;
      padding: 3rem;
      margin-top: 0rem; } }
  @media only screen and (max-width: 37.5em) {
    .tasks__card__container {
      grid-template-columns: 50% 50%;
      overflow: visible; } }
  @media only screen and (max-width: 31.25em) {
    .tasks__card__container {
      grid-template-columns: 1fr; } }

.tasks__status__box {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 0.2rem; }

.tasks__card {
  box-shadow: 0px 0px 5px 2px whitesmoke;
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  height: 17rem; }
  @media only screen and (max-width: 75em) {
    .tasks__card {
      height: 20rem;
      padding: 3rem 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .tasks__card {
      height: 25rem; } }
  .tasks__card__status {
    font-size: 1.2rem; }
    @media only screen and (max-width: 37.5em) {
      .tasks__card__status {
        font-size: 1.5rem; } }
  .tasks__card--top {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center; }
  .tasks__card__text {
    font-size: 1.6rem;
    color: black;
    margin-top: 3rem;
    justify-self: center;
    font-weight: 500;
    padding-bottom: 5rem; }
    @media only screen and (max-width: 37.5em) {
      .tasks__card__text {
        font-size: 2.5rem; } }
  .tasks__card__icon {
    height: 3rem;
    width: 3rem;
    align-self: flex-end; }

.tasks__dot {
  height: 1rem;
  width: 1rem;
  border-radius: 50%; }
  @media only screen and (max-width: 37.5em) {
    .tasks__dot {
      height: 1.5rem;
      width: 1.5rem; } }

.small-nav__icon {
  height: 5rem;
  width: 5rem;
  cursor: pointer;
  color: #000;
  list-style: none;
  padding: 1rem; }

.question__icon {
  height: 4.5rem;
  width: 4.5rem;
  background-color: #000;
  padding: 1rem;
  color: #fff;
  margin-bottom: 3rem;
  align-self: center;
  border-radius: 50%; }

.arrow__icon {
  height: 2rem;
  width: 2rem;
  color: #443d37; }

.search__icon {
  height: 2rem;
  width: 2rem;
  color: rgba(128, 128, 128, 0.5); }

.more__icon {
  height: 3rem;
  width: 3rem;
  color: #000; }

.bell__icon {
  height: 3rem;
  width: 3rem; }
  @media only screen and (max-width: 75em) {
    .bell__icon {
      margin-left: -3rem; } }
  @media only screen and (max-width: 37.5em) {
    .bell__icon {
      height: 4rem;
      width: 4rem;
      margin-left: 0; } }

.grid {
  display: grid; }
  .grid__container {
    grid-template-columns: 5% 20% 45% 30%;
    grid-template-rows: 20vh 1fr; }
    @media only screen and (max-width: 56.25em) {
      .grid__container {
        grid-template-columns: 8% 22% 35% 35%; } }
    @media only screen and (max-width: 37.5em) {
      .grid__container {
        grid-template-rows: 14vh 14vh 1fr 1fr; } }
    @media only screen and (max-width: 31.25em) {
      .grid__container {
        grid-template-rows: 14vh 18vh 1fr 1.3fr; } }
    @media only screen and (max-width: 25em) {
      .grid__container {
        grid-template-rows: 14vh 18vh 1fr 1.4fr; } }

.grid__recent__card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem; }
  @media only screen and (max-width: 31.25em) {
    .grid__recent__card {
      grid-template-columns: 1fr; } }

.logo__container {
  height: 8rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.25);
  position: relative; }

.logo {
  height: 100%;
  width: 100%; }

.small-nav__icon__container {
  list-style: none; }

.three-bars {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 2rem;
  height: 90%;
  width: 90%;
  background-color: white;
  display: none; }
  @media only screen and (max-width: 31.25em) {
    .three-bars {
      display: block; } }
  @media only screen and (max-width: 25em) {
    .three-bars {
      height: 100%;
      width: 100%; } }

.small-nav__item {
  padding: 0.6rem; }
  @media only screen and (max-width: 65.62em) {
    .small-nav__item {
      padding: 0.6rem 0; } }
  .small-nav__item .example::-webkit-scrollbar {
    display: none; }
  .small-nav__item:hover {
    background-color: #ebe3dc; }

.small-nav__link {
  display: flex;
  justify-content: center; }

.active {
  background-color: #ebe3dc; }
