$color-primary : #ebe3dc;  
$color-primary-dark : #ff8922;

$color-yellow : #fae0b9;
$color-light-orange:#febea8; 
$color-medium-orange: #ec7e5d;
$color-dark-orange : #d24e26; 
$color-brown:  #c2a273;
$color-green :#48a99c;

$color-light-text : #b5a79e;
$color-dark-text : #443d37;

